In [5]:
import pandas as pd

# Load the dataset
dataframe = pd.read_csv('Salaries.csv')

# Display the first 5 rows
print(dataframe.head())

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   20       20  Male  122400
2  AssocProf          A   20       17  Male   81285
3       Prof          B   23       23  Male  134778
4   AsstProf          B    1        0  Male   88000